h1{
    color: blue;
    text-align: center;
    font-weight: bold;
}

#btn{
    color: aqua;
    background-color: aquamarine;
    display: inline-block;
    padding: .5rem 1rem;
}

#btn:hover{
    cursor: pointer;
    opacity: 0.2;
}

#container{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#workout-container{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}